#task-container{
  border-color: aqua;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px 20px;
}

.task{
  border: 2px solid green;
  border-style: dotted;
  padding: 0px 20px;
}

.complete-btn, .delete-btn, .edit-btn{
  margin: 0px 20px 10px 20px;
  border-radius: 5px;
  padding: 2px 10px;
  cursor: pointer;
}

.complete-btn{
  background-color: green;
  border: 2px solid green;

}

.complete-btn:hover{
  opacity: 0.8;
}


.edit-btn{
  background-color: grey;
  border: 2px solid gray;
}

.edit-btn:hover{
  opacity: 0.8;
}

.delete-btn{
  background-color: red;
  border: 2px solid red;
}

.delete-btn:hover{
  opacity: 0.8;
}

.completed{
  opacity: 0.7;
}

.completed h1{
text-decoration: line-through;
}

#form-container, #edit-task-form{
  margin: 10px 10px;
}


